.search-bar-container {
  width: 50%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDEDED;
  opacity: 0.79;
  border-radius: 0.1rem;
}

.search-bar-form {
  margin-top: 4%;
  margin-right: 2%;
  width: 100%;
  height: 100%;
  text-align: center;
}

.search-bar-input {
  background-color: #EDEDED;
  width: 99%;
  line-height: 2rem;
  font-size: 2rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: thick;
  border-bottom-color: #343434;
}

.search-bar-input:focus {
  outline: none;
}